*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #ffffff;
}
.border_ads{
  background-color: #ffffff;
}

.ads{
  background-color: #ffffff
  ;
  
}
.shadow-lg{
  color: white;
}

.cust{

  background-color:black;
  
}


